/* Fontfamily by google-fonts */

/* Configure to page */
html{
    font-size: 62.5% !important;
    box-sizing: border-box;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    bottom: 0;
}

body{
    font-size: 1.5rem;
    box-sizing: border-box;
}

/* Snippets */
.marginT-4{
    margin-top: 5rem;
}

.marginT-5{
    margin-top: 20rem;
}

/* My settings by DeveroCode :) */
/* -> Header and titles */
.title{
    font-size: 1.4rem;
    font-weight: 700;
    color: #5A2B83;
    text-align: center;
    text-transform: uppercase;
}

.header{
    font-size: 0.8rem;
    text-align: center;
}

.header__text-title{
    text-transform: uppercase;
    font-size: 1.2rem;
}

.header__text-sub{
    font-size: 1.2rem;
}


/* -> Table */
.table-group{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.table-group .group{
    width: 100%;
    margin: auto;
    font-size: 0.9rem;
    line-height: 1;
    border-collapse: collapse;
    background: rgb(255 255 255);
    text-align: left;
    color: rgb(107 114 128);
}

.group-thead{
    background-color: rgb(249 250 251);
    text-align: left!important;
}

.group-thead-title{
    padding: 1rem 1.3rem;
    width: auto;
    text-align: left!important;
    font-weight: 700;
    color: rgb(17 24 39);
}

.group-title{
    width: 33.333333% !important;
}

/* -> Tbody */
.group-tbody{
    border-top: 0.1rem solid rgb(229 231 235);
}

.group-tbody-book{
    display: flex;
    gap: 1.2rem;
    padding: 1.3rem 1.2rem;
    text-transform: capitalize;
}

.tbody-book-book{
    font-size: 0.2rem;
    font-weight: 600;
}

.tbody-book-title{
    color: rgb(55 65 81);
    text-align: left;
}

.tbody-book-autor{
    font-weight: normal;
    float: left;
}

.group-tbody-category{
    display: table-cell;
    padding: 1rem 0.8rem;
}

.group-tbody-background{
    gap: 0.4rem;
    border-radius: 999.9rem;
    background-color: rgb(240 253 244);
    padding: 0.4rem 0.4rem;
    font-size: 1rem;
    font-weight: normal;
    color: rgb(22 163 74);
}

.group-tbody-category-text{
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 999.9rem;
    background-color: rgb(22 163 74);
    text-transform: capitalize;
}

/* -> Categorys */
.group-tbody-categoria{
    padding: 0.8rem 0.8rem;
}

.group-categoria{
    display: flex;
    gap: 0.8rem;
}

.group-all{
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    border-radius: 999.9rem;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: rgb(89 75 198);
}


.sistemas{
    background-color: rgb(225 241 251);
}

.contaduria{
    background-color: rgb(240 241 249);
}

.mecatronica{
    background-color: rgb(232 240 252);
}

.electromecanica{
    background-color: rgb(254 243 199);
}

.gestion{
    background-color: rgb(254 226 226);
}

.industrial{
    background-color: rgb(209 250 229);
}

.electronica{
    background-color: rgb(255 237 213 );
}
